<table class="table table-striped table-bordered table-hover">
				  <thead>
				    <tr>
				    	<th>序号</th>
				    	<th>域名</th>
				      	<th>路径</th>
				      	<th>描述</th>
				    </tr>
				  </thead>
				  <tbody>
				  		{{range $.Data}}
							<tr>
								<td>
									{{.Gid}}
								</td>
								<td>
									{{.Domain}}
								</td>
								<td>
									<a href="/uploads/{{.Path|urlquery}}" target="_blank">
										{{.Path}}
									</a>
								</td>
								<td>
									{{.Discreption}}
								</td>
							</tr>
						{{end}}
				  </tbody>
				</table>
			<ul class="pagination">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>